@font-face {
    font-family: Ibm-flex;
    font-style: normal;
    src: url('/fonts/IBMPlexSansKR-Medium.woff2') format('woff2'),
        url('/fonts/IBMPlexSansKR-Bold.woff2') format('woff2');
    font-display: swap;
}
