@font-face {
    font-family: Ibm-flex;
    font-style: normal;
    src: url('/fonts/IBMPlexSansKR-Medium.woff2') format('woff2');
    font-display: swap;
    font-weight: 100 ~300;
}

@font-face {
    font-family: Ibm-flex;
    font-style: normal;
    src: url('/fonts/IBMPlexSansKR-Medium.woff2') format('woff2');
    font-weight: bold;
}
@font-face {
    font-family: Ibm-flex;
    font-style: normal;
    src: url('/fonts/IBMPlexSansKR-Light.woff2') format('woff2');
    font-display: swap;
    font-weight: 100 ~300;
}

@font-face {
    font-family: IBM-flex-mono;
    font-style: normal;
    src: url('/fonts/IBMPlexMono-Medium.woff') format('woff');
    font-display: swap;
}
