/* @import '../font/fonts.css';

html {
    font-family: ibm-flex, -apple-system, BlinkMacSystemFont;
    color: #2d3748;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    color: #2d3748;
    padding: 0;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
    img {
        width: 100%;
        margin: 0px;
    }
}
h1 {
    margin-bottom: 1.45rem;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    line-height: 1.1;
}
h2 {
    margin-top: 2em;
    margin-bottom: 1em;
    color: inherit;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 1.5em;
    line-height: 1.1;
}
h3 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: inherit;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 1.3em;
    line-height: 1.1;
}
h4 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: inherit;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
    line-height: 1.1;
}
h5 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 1em;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    color: inherit;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 1.1rem;
    line-height: 1.1;
}
h6 {
    margin-bottom: 1.45rem;
    color: inherit;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    font-size: 0.78405rem;
    line-height: 1.1;
}
em {
    margin-right: 3px;
}
hgroup {
    margin-bottom: 1.45rem;
}
ul {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.45rem;
    list-style-position: outside;
    list-style-image: none;
}
ol {
    margin-left: 1.45rem;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 1.2rem;
    list-style-position: outside;
    list-style-image: none;
}
dl {
    margin-bottom: 1.45rem;
}
dd {
    margin-bottom: 1.45rem;
}
p {
    margin-bottom: 0.7rem;
    line-height: 1.625;
    font-size: 1.25em;
}

figure {
    margin-bottom: 1.45rem;
}
pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 1.45rem;
    font-size: 0.85rem;
    line-height: 1.42;
    background: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    overflow: auto;
    word-wrap: normal;
    padding: 1.45rem;
}
table {
    margin-bottom: 1.45rem;
    font-size: 1rem;
    line-height: 1.45rem;
    border-collapse: collapse;
    width: 100%;
}
fieldset {
    margin-bottom: 1.45rem;
}
blockquote {
    margin-left: 1.45rem;
    margin-right: 1.45rem;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    text-align: center;
    padding-right: 0;
    font-style: italic;
    padding-top: 0;
    font-size: 1.1em;
    margin-bottom: 1.45rem;
}
form {
    margin-bottom: 1.45rem;
}
noscript {
    margin-bottom: 1.45rem;
}
iframe {
    margin-bottom: 1.45rem;
}
hr {
    margin-bottom: calc(1.45rem - 1px);
    background: hsla(0, 0%, 0%, 0.2);
    border: none;
    height: 1px;
}
address {
    margin-bottom: 1.45rem;
}
b {
    font-weight: 600;
}
strong {
    font-weight: 600;
}
dt {
    font-weight: 600;
}
th {
    font-weight: 600;
}
li {
    margin-bottom: calc(1.45rem / 2);
    line-height: 1.425;
}
ol li {
    font-size: 1.25rem;
    padding-left: 0;
}

li li {
    font-size: 1.25rem;
    line-height: 1.425;
}
ul li {
    font-size: 1.25rem;
    padding-left: 0;
}
li > ol {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}
li > ul {
    margin-left: 1.45rem;
    margin-bottom: calc(1.45rem / 2);
    margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
    margin-bottom: 0;
}
li *:last-child {
    margin-bottom: 0;
}
p *:last-child {
    margin-bottom: 0;
}
li > p {
    margin-bottom: calc(1.45rem / 2);
}
code {
    font-size: 0.85rem;
    line-height: 1.45rem;
}
kbd {
    font-size: 0.85rem;
    line-height: 1.45rem;
}
samp {
    font-size: 0.85rem;
    line-height: 1.45rem;
}
abbr {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}
acronym {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
}
abbr[title] {
    border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
    cursor: help;
    text-decoration: none;
}
thead {
    text-align: left;
}
td,
th {
    text-align: left;
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
    font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    -ms-font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    padding-left: 0.96667rem;
    padding-right: 0.96667rem;
    padding-top: 0.725rem;
    padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}
tt,
code {
    background-color: hsla(0, 0%, 0%, 0.04);
    border-radius: 3px;
    font-family: 'SFMono-Regular', Consolas, 'Roboto Mono', 'Droid Sans Mono', 'Liberation Mono', Menlo, Courier,
        monospace;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
pre code {
    background: none;
    line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
    letter-spacing: -0.2em;
    content: ' ';
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
    content: '';
}
@media only screen and (max-width: 480px) {
    html {
        font-size: 100%;
    }
}

.gatsby-highlight {
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
}

.gatsby-highlight pre[class*='language-'].line-numbers {
    padding: 0;
    padding-left: 2.8em;
    padding-right: 2.8em;
    overflow: initial;
} */
